.container {
    margin: 0% 33.3%;
    padding: 0px 10px;
}

table {
    border-style: none;
    border-color: black;
    border-collapse: collapse;
}

table tr {
    border-style: none;
    border-color: black;
}

p {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

table tr td {
    border-style: none;
    border-color: black;
}

.green {
    background-color: rgb(211, 255, 145);
}

.heading {
    vertical-align: middle;
    background-color: rgb(60, 134, 60);
}